 .feature-ticker {
             font-size: 0.9rem;
             font-weight: 500;
  }
 .feature-ticker i {
             color: #4a5568;
             font-size: 1.2rem;
  }
  .service-card {
             border: 1px solid #acb1bc;
             border-radius: 12px;
             transition: transform 0.2s, box-shadow 0.2s;
             background: #fff;
   }
   .portfolio-card{
             border: 1px solid #dee1e7;
             border-radius: 12px;
             transition: transform 0.2s, box-shadow 0.2s;
             background: #fff;
   }
  .service-card:hover{
             transform:  translate(-4px);
             box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
  }
  .service-icon-box{
             font-size: 2rem;
             color: #2d3748;
             margin-bottom: 0.5rem;
  }
  .portfolio-img-placeholder{
             background-color: none;
             height: 180px;
             border-radius: 8px 8px 0px 0px;
             display: flex;
             justify-content: center;
             overflow: hidden;
  }
  .portfolio-card:hover{
             transform:  translate(-4px);
             box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
  }
            
