.rating-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
}

.rating-row .stars {
    color: #42a97c;
}

.rating-row .stars .star-muted {
    color: #e2e8f0;
}
.avatar-img{
    max-width: 280px;
    width: 100%;
    height: auto;
    object-fit: cover;
}